<?xml version="1.0"?>
<robot name="red_box">

<link name="base_link">
  <collision>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <geometry>
      <mesh
          filename="package://structure.stl" scale="1 1 1"/>
    </geometry>
  </collision>

  <visual>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <geometry>
      <mesh
          filename="package://structure.stl" scale="1 1 1" />
    </geometry>
  </visual>

  <inertial>
    <origin xyz="0 0 0.02" rpy="0 0 0" />
    <mass value="10" />
    <inertia
      ixx="0.001" ixy="0.0"  ixz="0.0"
      iyy="0.001" iyz="0.0"
      izz="0.001" />
  </inertial>
  
  </link>
 
 <link name="conveyor">
  <collision>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <geometry>
      <mesh
          filename="package://tapis.stl" scale="1 1 1"/>
    </geometry>
  </collision>

  <visual>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
    <geometry>
      <mesh
          filename="package://tapis.stl" scale="1 1 1"/>
    </geometry>
  </visual>

  <inertial>
    <origin xyz="0 0 0.02" rpy="0 0 0" />
    <mass value="10" />
    <inertia
      ixx="0.001" ixy="0.0"  ixz="0.0"
      iyy="0.001" iyz="0.0"
      izz="0.001" />
  </inertial>
  </link>

<joint name="jointone" type="fixed">
  20     <parent link="base_link"/>
  21     <child link="conveyor"/>
  22   </joint>
</robot>
